<html>
<head>
  <title>DAA Trivia</title>
  <style>
    body {
      color:#fff;
      font:20px Arial;      
      background:#173c69;
      text-align:center;
    }
    
    a {
      color:#fff;
    }
  </style>
</head>
<body>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <%= yield %>
</body>
</html>